*{
	font-size: 3vh !important;
	background-color: white;	
}
body{
	text-align: center;
}

pre{
	text-align: left;
	font-weight: bold;
	margin-left: 18vw;
}

footer{
	position: fixed;
	top: 0px;
	height: 100vh;
	background-color: purple;
	width: 10vw;
	padding-top: 25px;
}
footer>p{
	font-size: 1.4em;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
}
.black{
	background-color: black;
	color: white;
}
#bodi, footer{
	padding-top: 20vh;
}